*.ipr
*.iml
*.iws
*/*run
*/*build
*/*.gradle
.idea
*.DS_Store
*/*.DS_Store
setup/*.jar
docker-compose.yml
venv
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
