[submodule "mc-http-api"]
	path = setup/mc-http-api
	url = git@git.wnuke.dev:wnuke/mc-http-api.git
[submodule "fabritone"]
	path = setup/fabritone
	url = git@git.wnuke.dev:external-imports/fabritone.git
	branch = fabritone/1.16.x-Fabric
